@media screen and (max-width:991px) {

  h2 {
    font-size: 33px;
  }

  .cta {
    font-size: .9rem;
  }

  /* HERO SECTION */
  .hero.container {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 150px;
    align-items: center;
  }

  .hero.container .text {
    max-width: 601px;
    text-align: center;
    margin-bottom: 120px;
  }

  .hero.container h1 {
    margin-top: 0;
    font-size: 48px;
  }

  .hero.container .contact {
    justify-content: center;
  }

  .hero.container .hero-right {
    max-height: none;
    max-width: 467px;
  }

  .hero.container .img-wrapper {
    height: auto;
  }

  .hero.container img.hero {
    max-width: 100%;
    height: auto;
  }

  .hero.container .shape.one {
    right: -21px;
    bottom: -34px;
  }

  .hero.container .shape.two {
    bottom: -97px;
  }

  .hero.container .shape.three {
    right: -115px;
  }

  .hero.container .shape.four {
    left: -113px;
  }

  .hero.container .shape.five {
    top: -52px;
    right: -80px;
  }

  .hero.container .shape.six {
    top: -71px;
  }

  /* SOCIAL MEDIA STARTS */
  .achievement-wrapper {
    min-width: auto;
    margin-right: 0%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .container.achievement {
    padding: 0 24px;
  }

  .achievements-grid {
    justify-content: stretch;
    justify-items: center;
  }

  .achievements-grid>div {
    align-items: stretch;
  }

  /* MY JOURNEY STARTS */
  section.journey {
    padding: 100px 0;
  }

  section.journey .grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }

  a.card img {
    max-height: 80px;
    max-width: 80px;
    border-radius: 20px;
  }

  a.card h4 {
    font-size: 37px;
  }

  /* MY LATEST VIDEOS */
  section#videos {
    padding: 100px 0;
  }

  .top-content {
    flex-direction: column;
  }

  .videos-grid {
    grid-template-columns: 1.4fr;
    grid-row-gap: 60px;
  }

  .vid-wrapper {
    margin-bottom: 20px;
  }

  .vid-paragraph {
    margin-bottom: 20px;
  }

  .popular-vid.show {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
  }

  .popular-vid .popular-sidebar {
    flex-direction: column;
    gap: 20px;
  }

  #videos .image-wrapper {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  .vid-img {
    width: 100%;
  }

  h3.sidebar-title {
    max-width: 100%;
  }

  /* ABOUT ME */
  section#about {
    padding: 100px 0;
  }

  #about .container {
    flex-direction: column-reverse;
  }

  #about .pics {
    max-width: 571px;
    margin-left: 0px;
  }

  #about .right {
    max-width: 571px;
    margin-bottom: 40px;
  }

  /* MY PRODUCTS */
  #products {
    padding: 60px 0;
  }
  #products .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #products .item {
    width: 48%;
    gap: 10px;
  }

  #products .item:hover {
    transform: translate(15px);
  }

  /* CONFERENCES AND EVENTS */
  #events {
    padding: 100px 0;
  }

  #events .container {
    flex-direction: column;
  }

  #events .textarea {
    max-width: 518px;
    margin-bottom: 120px;
  }

  #events .right {
    max-width: 518px;
    margin-right: 0px;
  }

  .bg.conferences-events {
    top: 86px;
    right: auto;
    width: 0;
  }

  .bg.conferences-events.show {
    width: 100%;
  }

  /* FOLLOW STARTS */
  section.follow {
    padding: 100px 0;
  }

  section.follow .text p {
    width: 100%;
  }

  section.follow .social-links {
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-row-gap: 50px;
  }

  .social-links img {
    max-height: 80px;
    max-width: 80px;
    border-radius: 20px;
    position: relative;
  }

  section.follow .social-links {
    width: 100%;
  }

  /* ARTICLES AND NEWS */
  #articles {
    padding: 100px 0;
  }

  .blog-section-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .blog-card-content {
    padding-right: 20px;
    padding-bottom: 55px;
    padding-left: 20px;
  }

  /* INSTAGRAM */
  section.instagram {
    padding-top: 100px;
  }

  .icons {
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  section.instagram div.images {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {

  h2 {
    font-size: 28px;
    line-height: 1.4em;
  }

  h3 {
    font-size: 22px;
    line-height: 1.4em;
  }


  /* HERO SECTION */
  .hero.container {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .hero.container h1 {
    font-size: 40px;
  }

  .hero.container p {
    margin-bottom: 40px;
  }

  .hero.container a {
    font-size: 16px;
    box-shadow: 0 10px 20px 0 rgba(251, 15, 90, 0.25);
  }

  .hero.container a:last-of-type {
    box-shadow: 0 3px 15px 0 rgba(251, 15, 90, 0.1);
  }

  .hero.container .text {
    margin-bottom: 100px;
  }

  .hero.container .img-wrapper {
    border-bottom-right-radius: 150px;
  }

  .hero.container .shape.one {
    right: 0px;
    max-width: 28%;
  }

  .hero.container .shape.two {
    left: -36.5px;
    bottom: -57px;
    max-width: 40%;
  }

  .hero.container .shape.three {
    right: -49px;
    max-width: 20%;
  }

  .hero.container .shape.four {
    left: -46px;
  }

  .hero.container .shape.five {
    top: -31px;
    right: -55px;
    max-width: 30%;
  }

  .hero.container .shape.six {
    top: -60px;
    max-width: 60%;
  }

  /* SOCIAL MEDIA STARTS */
  .achievement-wrapper {
    height: 323.188px;
  }

  .achievements-grid {
    -webkit-box-pack: center;
    justify-content: center;
    grid-column-gap: 20vw;
    grid-row-gap: 32px;
    grid-template-columns: auto auto;
  }

  .achievement-number {
    font-size: 50px;
  }

  .achievement-text {
    font-size: 20px;
  }

  /* MY JOURNEY STARTS */
  section.journey {
    padding: 80px 0;
  }

  section.journey .container {
    max-width: 100%;
    padding: 0 24px;
  }

  section.journey .shape.one {
    top: 12px;
    right: -66px;
    max-width: 30%;
  }

  section.journey .shape.two {
    left: -62px;
    bottom: 249.5px;
    max-width: 30%;
  }

  section.journey .shape.three {
    right: -20px;
    max-width: 25%;
  }

  section.journey .grid {
    grid-column-gap: 20px;
  }

  a.card {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  a.card img {
    max-height: 70px;
    max-width: 70px;
    border-radius: 18px;
  }

  a.card h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 31px;
  }

  a.card h5 {
    font-size: 18px;
  }

  /* MY LATEST VIDEOS */
  section#videos {
    padding: 80px 0;
  }

  .top-content p {
    max-width: 527px;
    margin-top: 10px;
  }

  .content-holder a {
    margin-bottom: 10px;
  }

  #videos .image-wrapper {
    border-radius: 18px;
  }

  h3.sidebar-title {
    line-height: 1.5em;
  }

  .play-btn.side {
    width: 35%;
    height: 40%;
  }

  #videos .links>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  #videos .subscribe {
    margin-right: 0;
    box-shadow: rgba(251, 15, 90, 0.25) 0px 10px 20px 0px;
  }

  #videos .view {
    box-shadow: rgba(251, 15, 90, 0.1) 0px 3px 15px 0px;
  }

  /* ABOUT ME */

  section#about {
    padding: 80px 0;
  }

  #about .right h2 {
    margin-bottom: 10px;
  }

  #about .right a {
    box-shadow: 0 10px 20px 0 rgba(251, 15, 90, 0.25);
  }

  .pics .shape.one1 {
    top: 7px;
    right: 14px;
    max-width: 30%;
  }

  .pics .shape.two2 {
    top: 82px;
    right: 16px;
    max-width: 30%;
  }

  .pics .shape.three3 {
    right: -30px;
    bottom: -38.5px;
    max-width: 30%;
  }

  .pics .shape.four4 {
    left: -44px;
    max-width: 40%;
  }

  .pics .shape.five5 {
    left: -43px;
    bottom: -10px;
    max-width: 30%;
  }

  .pics .one {
    max-width: 79%;
    border-radius: 34px;
  }

  .pics .two {
    max-width: 74%;
    margin-top: -236px;
    border-radius: 34px 34px 100px;
  }

  .pics .two img {
    max-width: 100%;
  }

  /* MY PRODUCTS */
  #products {
    padding: 60px 0;
  }
  #products .item {
    width: 100%;
  }

  /* CONFERENCES AND EVENTS */
  #events {
    padding: 80px 0;
  }

  #events .textarea {
    margin-bottom: 80px;
  }

  #events a {
    box-shadow: 0 10px 20px 0 rgba(251, 15, 90, 0.25);
  }

  #events .img-wrapper {
    border-radius: 34px 34px 120px;
  }

  #events .shape.one {
    top: -76px;
    max-width: 30%;
  }

  #events .shape.two {
    max-width: 30%;
  }

  #events .shape.three {
    max-width: 30%;
  }

  #events .shape.four {
    max-width: 30%;
  }

  #events .shape.five {
    top: -60px;
    right: -63px;
    max-width: 50%;
  }

  .bg.conferences-events {
    top: 77px;
    width: 0px;
  }

  .bg.conferences-events.show {
    width: 110%;
  }

  /* FOLLOW STARTS */
  section.follow {
    padding: 80px 0;
  }

  section.follow h2 {
    margin-bottom: 10px;
  }

  section.follow .social-links {
    grid-row-gap: 40px;
  }

  .social-links img {
    max-height: 70px;
    max-width: 70px;
    border-radius: 18px;
  }

  /* ARTICLES AND NEWS */
  #articles {
    padding: 80px 0;
  }

  .blog-section-grid {
    grid-row-gap: 40px;
  }

  .blog-card-content {
    padding-bottom: 40px;
  }

  #articles .link a {
    box-shadow: rgba(251, 15, 90, 0.25) 0px 10px 20px 0px;
  }

  /* INSTAGRAM */

  section.instagram {
    padding-top: 80px;
  }

  section.instagram .followMe {
    box-shadow: 0 10px 20px 0 rgba(251, 15, 90, 0.25);
  }

  section.instagram div.images {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 25px;
  }

  /* HERO SECTION */
  .hero.container {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .hero.container .text {
    margin-bottom: 80px;
  }

  .hero.container h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .hero.container p {
    margin-bottom: 30px;
  }

  .hero.container .contact {
    flex-direction: column;
    gap: 20px;
  }

  .hero.container a {
    box-shadow: 0 8px 13px 0 rgba(251, 15, 90, 0.25);
    font-size: 16px;
    padding: 22px 26px;
  }

  .hero.container a:last-of-type {
    align-self: stretch;
    box-shadow: 0 3px 10px 0 rgba(251, 15, 90, 0.1);
    padding: 22px 20px;
  }

  .hero.container .img-wrapper {
    border-bottom-right-radius: 100px;
  }

  .hero.container .shape.one {
    right: -1px;
    bottom: -23px;
  }

  .hero.container .shape.two {
    left: -21.5px;
    bottom: -51px;
  }

  .hero.container .shape.three {
    right: -37px;
  }

  .hero.container .shape.four {
    left: -35px;
  }

  .hero.container .shape.five {
    top: -21px;
    right: -37px;
  }

  .hero.container .shape.six {
    left: -41px;
    top: -43px;
  }

  /* SOCIAL MEDIA STARTS */
  .container.achievement {
    padding: 0 16px;
  }

  .achievements-grid {
    grid-column-gap: 10vw;
  }

  .achievement-number {
    font-size: 43px;
  }

  /* MY JOURNEY STARTS */
  section.journey {
    padding: 60px 0;
  }

  section.journey .grid {
    margin-top: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  section.journey .container {
    padding: 0 16px;
  }

  section.journey .shape.one {
    top: 299px;
  }

  section.journey .shape.two {
    bottom: 242.5px;
  }

  section.journey .shape.three {
    bottom: -23px;
  }

  a.card img {
    max-height: 60px;
    max-width: 60px;
    border-radius: 15px;
  }

  a.card h4 {
    margin-top: 20px;
    font-size: 26px;
  }

  a.card h5 {
    margin-bottom: 10px;
  }

  /* MY LATEST VIDEOS */
  section#videos {
    padding: 60px 0;
  }

  .vid-wrapper {
    margin-bottom: 18px;
  }

  .videos-grid {
    margin-top: 30px;
    margin-bottom: 40px;
    grid-row-gap: 40px;
  }

  .popular-vid.show {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .play-btn.side {
    width: 100px;
    height: 70px;
    font-size: 30px;
  }

  #videos .links {
    flex-direction: column;
    gap: 10px;
  }

  #videos .links a {
    width: 100%;
  }

  /* ABOUT ME */
  section#about {
    padding: 60px 0;
  }

  #about .container {
    padding: 0 16px;
  }

  #about .right p {
    margin-bottom: 30px;
  }

  #about .right a {
    box-shadow: 0 8px 13px 0 rgba(251, 15, 90, 0.25);
    font-size: 16px;
    display: block;
    padding: 22px 26px;
  }

  .pics .shape.one1 {
    right: -2px;
    max-width: 30%;
  }

  .pics .shape.three3 {
    right: 4px;
    bottom: -25.5px;
    max-width: 30%;
  }

  .pics .shape.four4 {
    left: -35px;
    max-width: 30%;
  }

  .pics .shape.five5 {
    left: -15px;
    bottom: 73px;
    max-width: 30%;
  }

  .pics .one {
    border-radius: 24px;
  }

  .pics .two {
    margin-top: -99px;
    border-radius: 24px 24px 80px;
  }

  /* MY PRODUCTS */
  #products .item {
    width: 98%;
    margin: auto;
  }

  #products .item:hover {
    transform: translateY(10px);
  }

  #products h4 {
    font-size: 1rem;
  }

  #products .item small {
    font-size: 1rem;
  }
  /* CONFERENCES AND EVENTS */
  #events {
    padding: 60px 0;
  }

  #events .textarea {
    margin-bottom: 60px;
  }

  #events a {
    display: block;
    padding: 22px 26px;
    align-self: stretch;
    box-shadow: 0 8px 13px 0 rgba(251, 15, 90, 0.25);
    font-size: 16px;
    ;
  }

  #events .img-wrapper {
    border-radius: 24px 24px 100px;
  }

  #events .shape.one {
    left: -27px;
    top: -40px;
    max-width: 30%;
  }

  #events .shape.two {
    left: -53px;
    max-width: 30%;
  }

  #events .shape.three {
    right: -15px;
    bottom: -6px;
    max-width: 30%;
  }

  #events .shape.four {
    right: -51px;
    max-width: 30%;
  }

  #events .shape.five {
    top: -25px;
    right: -27px;
    max-width: 30%;
  }

  .bg.conferences-events {
    top: 64px;
    width: 0;
  }

  .bg.conferences-events.show {
    width: 115%;
  }


  /* FOLLOW STARTS */
  section.follow {
    padding: 60px 0;
  }

  section.follow h2 {
    font-size: 21px;
  }

  section.follow .social-links {
    grid-column-gap: 8vw;
    grid-row-gap: 30px;
  }

  .social-links img {
    max-height: 60px;
    max-width: 60px;
    border-radius: 15px;
  }

  /* ARTICLES AND NEWS */
  #articles {
    padding: 60px 0;
  }

  .blog-section-grid {
    margin-top: 30px;
    margin-bottom: 40px;
    grid-row-gap: 30px;
  }

  .blog-card-content {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  #articles .link a {
    display: block;
    align-self: stretch;
    box-shadow: rgba(251, 15, 90, 0.25) 0px 8px 13px 0px;
    font-size: 16px;
    padding: 22px 26px;
    width: 100%;
  }

  /* INSTAGRAM */
  section.instagram {
    padding-top: 60px;
  }

  .instagram .container {
    padding: 0 16px;
  }

  section.instagram p {
    margin-bottom: 30px;
  }

  section.instagram .cta {
    display: block;
  }

  section.instagram div.images {
    margin-top: 40px;
  }
}